{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "parser": "typescript",
  "importOrder": [
    "react", "^(?!react)\\w+$", "^[./]",
    "<THIRD_PARTY_MODULES>",
    "interface",
    "(?=content|api)",
    "context/",
    "mock/",
    "config",
    "utils/",
    "hooks/",
    "(components/|./index)",
    ".svg",
    "^../(.*)$",
    "(?=./styles.module.scss)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["prettier-plugin-organize-imports"]
}
